# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
ENV/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore version control directories
.git/
.gitignore

# Ignore logs and temporary files
*.log
*.tmp

# Ignore datasets and large files (adjust as needed)
jewelry_dataset/
*.zip

# Ignore IDE and editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
!requirements.txt
